---
layout: default
---

<div class="home">

  <h3 class="page-heading">Projects</h3>

  <ul class="post-list">

    {% for project in site.projects %} 
      <li>
        <h2>
          <a class="post-link" href="{{ project.url | prepend: site.baseurl }}">{{ project.title }}</a>
        </h2>
        

          {% if project.image %}
            <img src="{{ site.baseurl }}/images/{{project.image}}" alt="{{project.title}}" />
          {% endif %}

          {{project.excerpt}}

          {% if project.link %}
          <a href="{{ project.link }}">Visit site</a>  
          {% endif %}

          {% if project.link %}
          <a href="{{ project.url | prepend: site.baseurl }}">Screenshots &amp; nerd details→</a>
          {% endif %}

      </li>
    {% endfor %}
  </ul>


</div>
