---
layout: default
---

<div class="home">

  <h3 class="page-heading">Projects</h3>

  <ul class="project-list">

    {% for project in site.projects %} 
        <li>
            {% if project.image %}
                <a href="{{ project.url | prepend: site.baseurl }}"> 
                    <img src="{{ site.baseurl }}/images/{{project.image}}" alt="{{project.title}}" />
                </a>
            {% endif %}

            <div>  

            {% if project.directlink %}
            <a href="{{ project.link }}">
            {% else %}
            <a href="{{ project.url | prepend: site.baseurl }}"> 
            {% endif %}
                <h2>{{ project.title }}</h2>
                {% if project.subhead %}
                <h3>{{project.subhead}}</h3>
                {% endif %}
            </a>

            {{ project.excerpt }}

            {% if project.link %}
            <a href="{{ project.link }}" class='more'>Visit site</a>  
            {% endif %}

            {% if project.directlink %}

            {% else %}
            <a href="{{ project.url | prepend: site.baseurl }}" class='more'>Screenshots &amp; nerd details→</a>
            </div>
            {% endif %}
        </li> 
    {% endfor %}
  </ul>

    <ul class="about-info">

        <li>
            <h3 class="page-heading" id="biography">Biography</h3>

            <p>I build websites and interactive experiences, from visual design to back-end programming. I'm most experienced with web publishing (blogs, news sites, etc), but have also interest and experience in data visualization and mapping.
            </p>

            <p>I am fluent in HTML, CSS, and javascript, as well as CSS-preprocessors like LESS. I prefer to build my javascript around with require.js, some jQuery if needed, and maybe even ember., and know a lot about optomizing websites for speedy client side performance. On the server, I like using python and Django, but often get stuck using php and WordPress.</p>


            <h4>Hire me</h4>
            <p>While I have a full-time job, I occasionally take on a freelance project in the spring and fall. My rate is $100 per hour, and most projects are usually in the $3000-$10,000 range. I offer a discount for non-profit clients (just ask).</p>
        </li>



        <li>
            <h3 class="page-heading" id="awards">Awards</h3>
            <dl>
                <dt>2014</dt>
                <dd>University of Florida Award in Investigative Data Journalism, Small/Medium, Online News Association, Betrayed by Silence</dd>
                <dt>2014, 2013</dt>
                <dd>Edward R. Murrow Award, Best Radio Website, National Lage Market</dd>

                <dt>2009</dt>  
                <dd>National Design Award, Corporate and Institutional Achievement, Cooper-Hewitt, National Design Museum
                </dd>
                <dt>2009</dt>  
                <dd>Best of the Web Award, Most Innovative Website, Museums and the Web Conference</dd>    
            </dl>
        </li>

    </ul>



</div>
