---
layout: default
---

<div class="home">

  <h3 class="page-heading">Projects</h3>

  <ul class="project-list">

    {% for project in site.projects %} 
        <li>
            {% if project.image %}
                <a href="{{ project.url | prepend: site.baseurl }}"> 
                    <img src="{{ site.baseurl }}/images/{{project.image}}" alt="{{project.title}}" />
                </a>
            {% endif %}

            <div>  

            {% if project.directlink %}
            <a href="{{ project.link }}">
            {% else %}
            <a href="{{ project.url | prepend: site.baseurl }}"> 
            {% endif %}
                <h2>{{ project.title }}</h2>
                {% if project.subhead %}
                <h3>{{project.subhead}}</h3>
                {% endif %}
            </a>

            {{ project.excerpt }}

            {% if project.link %}
            <a href="{{ project.link }}" class='more'>Visit site</a>  
            {% endif %}

            {% if project.directlink %}

            {% else %}
            <a href="{{ project.url | prepend: site.baseurl }}" class='more'>Screenshots &amp; nerd details→</a>
            </div>
            {% endif %}
        </li> 
    {% endfor %}
  </ul>

    <ul class="about-info">

        <li>
            <h3 class="page-heading" id="biography">Biography</h3>


            <p>I'm a hacker that does design and development. I consider myself a competent but not extravagant designer and a pragmatic but not dogmatic developer. I spend more of my time as a developer than a designer, but I approach my development and programming work through the eyes of a designer.</p> 

            <p>Most of my experience is with the world wide web, but I have also dabbled with native applications, interactive installations, and even some custom circuitry. My degree is in <em>Interactive Multimedia</em> which at it's core is about understaning human interactions with technology.</p>

            <p>I'm fluent in HTML and CSS, know javascript pretty well, though it seems that can change on a day-to-day basis. I admit reluctant knowledge of php, but would prefer to spend most of my time writing python. I also have a solid grasp on build systems, preprocessors, codecs, shell scripts, and all the other tasks, tools, and applications that go with building stuff for people on computing devices.</p>

        </li>



        <li>
            <h3 class="page-heading" id="awards">Awards</h3>
            <dl>
                <dt>2014</dt>
                <dd><a href="http://journalists.org/2014/08/25/2014-online-journalism-awards-finalists-announced/">University of Florida Award in Investigative Data Journalism, Small/Medium, Online News Association, Betrayed by Silence</a></dd>
                <dt>2014, 2013</dt>
                <dd><a href="http://www.rtdna.org/content/2014_national_edward_r_murrow_award_winners">Edward R. Murrow Award, Best Radio Website, National Lage Market</a></dd>

                <dt>2009</dt>  
                <dd><a href="http://www.walkerart.org/magazine/2009/walker-art-center-recipient-of-national-desig">National Design Award, Corporate and Institutional Achievement, Cooper-Hewitt, National Design Museum</a>
                </dd>
                <dt>2009</dt>  
                <dd><a href="http://www.museumsandtheweb.com/forum/mw2009_best_web_sites_selected">Best of the Web Award, Most Innovative Website, Museums and the Web Conference</a></dd>    
            </dl>
        </li>

    </ul>



</div>
