<header class="site-header">

<!--    <div class='avatar'>
        <a href="/"><img src="/images/justinph.jpg" srcset='/images/justinph.jpg 1x, /images/justinph-2x.jpg 2x' alt='justinph avatar'/></a>
    </div> -->
    <div class='masthead'>
        <a href="/">
            <div class='avatar'><img src="/images/justinph.jpg" srcset='/images/justinph.jpg 1x, /images/justinph-2x.jpg 2x' alt='justinph avatar'/></div>
            <h1>Justin Heideman</h1>
            <h2>Full Stack Web Designer</h2>
        </a>
        <nav>
            <a href="mailto:justin@fiddlyio.com" class='u'>justin@fiddlyio.com</a>
            <a href="https://twitter.com/justinph">@<span class='u'>justinph</span></a>
            <a href="https://github.com/justinph" class='u'>github</a>
        </nav>
    </div>

</header>
