
header{
    img{
        border-radius: 50%;
        max-width: 5em;
        display: block;
        //margin: 0 auto;
        float: right;
        margin: 0 1em;
    }
    .avatar{
        width: 33%;
        float: left;
    }
    .masthead{
        width: 66%;
        float: left;
    }

    h1{
        margin: 0;
        font-size: 1.7em;

    }
    h2{
        font-size: 1.3em;
        font-weight: normal;
        color: #fff;
        margin: 0;
    }
    @include clearfix();
}
nav{
    .u{
        text-decoration: underline;
    }
    a{
        color: $super-dark;
        padding-right: .5em;
        text-decoration: none;
        &:hover{
            color: #fff;
        }
    }
}

h3.page-heading{
    text-align: center;
    color: #fff;
    font-size: 2.33334em;
    &:before{
        content: '↓ ';
        font-weight: normal;
    }
    &:after{
        content: ' ↓';
        font-weight: normal;
    }
}

.project-list{
    li{
        margin-bottom: 2em;
    }
    a{
        text-decoration: none;
        h2 {
            margin: 0;
            padding: 0;
           
        }
        h3{
            margin-top: 0;
            font-weight: normal;
        }
    }
}

.about-info{

}

footer{
    margin: 3em 1em 1em;
    nav{
        text-align: center;
        a{
            color: #fff;
            &:hover{
                color: $brand-color;
            }
        }
    }
}