body{
   font-size: $base-font-size;

}
header{
    img{    

    }
    h1{
    }
    h2{
    }
}

.project-list{
    li{
        img{
            
        }
        div{

        }

    }

}


.about-info{
    li{
        width: 50%;
        float: left;
        margin: 0;
        padding: 0 1% 0 4%;
        &:first-of-type{
            padding: 0 4% 0 1%;
        }
    }
}