body{
    margin: .5em auto;
    max-width: 1100px;
    font-size: $base-font-size*0.85;
}
header{
    img{    
        max-width: 10em;
    }
    h1{
        font-size: 3.44444445em;  //62px
    }
    h2{
        font-size: 2.33334em;
    }
    h1, h2, nav{
        margin-left: 35%;
    }
    .avatar{
        width: 35%;
        img{
            border-width: 5px;
        }
    }
}
nav{
    a{
        font-size: 1rem;
    }
}


.project-list{
    li{
        h2,h3{
            float: left;
            margin-left: 50%;
        }
        img{
            float: left;
            max-width: 45%;
            margin-top: -4.85em;
            //margin: 0 5% 1em 0;
        }
        div{
            float: left;
            width: 50%;
            margin: 0 0 0 5%;
        }
        @include clearfix();

    }

}

.about-info{
    li{
        margin: 0 15%;
    }
    h4{
        margin-bottom: 0;
    }
    @include clearfix();
}

.project-detail{
    max-width: 80%;
    margin: 0 auto;    
    img{
        display: block;
        width: 100%;
        max-width: 800px;
        margin: 2em auto;
    }
}